*{
    font-family: 'Risque', cursive;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    background-color:#daedf4;
}

button{
    display: block;
    /* margin-top: 3%; */
}


#landing{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4766B7;
    color: white;
    padding: 20vh 2%;
    margin: 3vh auto;
    border-radius: 30px;
    width: 75%;
    text-align: center;
    height: 50vh;
}

#landing h1{
    font-size: 4em;

}

#play-now{
    display:none;
}

#genres{
    display: block;
    list-style: none;
    /* padding: 8%; */
    width: 20%;
}

.genre{
    font-size: 2em;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5%;
    margin: 20% auto;
    text-align: center;
    /* padding: 10%; */
   
}

.genre:hover{
    background-color:crimson;
    color: whitesmoke;
}

#play-now{
    background-color: crimson;
    width: 35%;
    padding: 2%;
    border-radius: 15px;
    margin: 10% auto;
    cursor: pointer;
    font-size: .4em;
}

#play-now:hover{
    color:crimson;
    background-color: whitesmoke;
}

main{
    display:none;
    margin: 3%;
    height: 110%;
}

#title{
    background-color: #4766B7;
    color:whitesmoke;
    height: 15vh;
    width: 75%;
    text-align: center;
    font-size: 4em;
    padding: 3% 0;
    border-radius: 15px;
    margin:0 auto;
}

#title h4{
    font-size: .2em;
}

.option, #next{
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 2%;
    border-radius: 15px;
}

#question{
    width: 75%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    background-color: crimson;
    font-size: 2em;
    border-radius: 15px;
    text-align: center;
    color: black;
}

#answers{
    width: 100%;
    margin-top: 1%;
}

ul{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.option{
    background-color: #4766B7;
    color:whitesmoke;
    padding: 2% 7%;
    margin: 2%;
}

#next{
    background-color: crimson;
    color:black;
    padding: 2% 6%;
    margin: 2% auto;
}

#next:hover{
    background-color: #4766B7;
    color:white;
}